# Dependencias
node_modules/

# Build
dist/
build/

# Configuración local
.env
.env.local
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db
